/* Variables */

// Colors
$primary-color: hsl(215, 51%, 70%);
$secondary-color: hsl(178, 100%, 50%);
$body-background-color: hsl(217, 54%, 11%);
$card-background-color: hsl(216, 50%, 16%);
$hr-background-color: hsl(215, 32%, 27%);
$white-color: hsl(0, 0%, 100%);

// Typography
$body-font-size: 16px;
$body-font: 'Outfit', sans-serif;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $body-background-color;
	font-size: $body-font-size;
	font-family: $body-font;
	color: $primary-color;
	font-weight: 300;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 330px;
	padding: 20px;
	background-color: $card-background-color;
	border-radius: 15px;


	&__img {
		width: 280px;
		height: 280px;
		background-image: url('../images/image-equilibrium.jpg');
		background-size: cover;
		border-radius: 8px;
		overflow: hidden;
        

		img {
			opacity: 0;
		}

	}

    &__img-bg{
        width: 100%;
        height: 100%;
        background-color: hsla(178, 100%, 50%, 60%);
        display: flex;
		justify-content: center;
		align-items: center;
        opacity: 0;
        transition: opacity .3s;
        cursor: pointer;
    }

    &__img:hover > .card__img-bg, img{
        opacity: 1;
    }



	&__text-box {
		margin-top: 22px;
		padding: 0 4px;
	}
	&__title {
		color: $white-color;
		font-weight: 700;
		font-size: 22px;
        cursor: pointer;
        transition: color .3s;

        &:hover{
            color: $secondary-color;
        }
	}
	&__desc {
		margin: 16px 0;
		line-height: 24px;
	}

	&__price-box {
		display: flex;
		justify-content: space-between;
	}

	&__price,
	&__time {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__price {
		color: $secondary-color;
		font-weight: 500;
	}

	hr {
		margin: 20px 0;
		border: 1px solid $hr-background-color;
	}
	&__author {
		display: flex;
		align-items: center;
		gap: 15px;

		img {
			width: 30px;
			border: 1px solid $white-color;
			border-radius: 50%;
		}
		span {
			color: $white-color;
            cursor: pointer;
            transition: color .3s;

            &:hover{
                color: $secondary-color;
            }
		}
	}
}

.attribution {
	color: $white-color;
	margin-top: 20px;
	font-size: 11px;
	text-align: center;

	a {
		text-decoration: none;
		color: $white-color;
	}
}
